header a:hover{
    color:blue;
}
#ans{
    background-color: rgba(70, 72, 75, 0.979);
    color:rgb(215, 185, 104);
    width: 50%;
    height: 200px;
    margin-left: 25%;
    padding: 10px 20px;
}

h3{
    font-size: 20px;
}
p{
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}
