body{
    margin: 0;
    background-color: rgb(37, 36, 35);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 3.75rem;
    box-sizing: border-box;
    background-color: rgb(17, 16, 16);
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul{
    display: flex;
    width: 100%;
}

header li{
    margin-left: 1.25rem;
}

header a{
    color: rgb(215, 185, 104);
    text-decoration: none;
    font-size: 1.25rem;
    padding: 0.75rem;
    border-radius: 6px;
}

#logo a{
    padding: 0.6rem;
    font-size: 1.8rem;
    font-weight: 1000;
}

main{
    background-color: rgb(37, 36, 35);
    height: 100%;
    padding: 1.5rem;
}
main h2{
    color: rgb(231, 207, 101);
    text-align: center;
    font-size: 3.125rem;
    
}

#main-img{
    display: flex;
    justify-content: center;
    margin: 24px auto;
}

#description{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 150px;
    margin-right: 150px;
    color:rgb(231, 207, 101);
    font-size: 18px;
}

#next-page{
    background-color: rgb(231, 207, 101);
    margin-top: 10px;
    color: black;
    font-weight: bold;
    padding: 10px;
}

#next-page:hover{
    background-color: blue;
}


